<h2>Descriptive Statistics</h2>

__Part 1__

Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math

In [10]:
df = pd.read_csv("nba.csv")

In [11]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [12]:
df.shape

(458, 9)

In [13]:
df.info

<bound method DataFrame.info of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]>

In [14]:
df.describe

<bound method NDFrame.describe of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]>

In [15]:
df.size

4122

<h5>Providing Statistics for Column 'Age' Only</h5>

In [59]:
df['Age']=df['Age'].replace(np.nan,df['Age'].mean())

In [28]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          0
Height       1
Weight       1
College     85
Salary      12
AgeGroup     3
dtype: int64

In [30]:
total_age = len(df['Age'])
sum_age = sum(df['Age'])

mean_age = sum_age/total_age
print(mean_age)

26.938730853391686

In [17]:
df.Age.mean()

26.938730853391686

In [50]:
cnt_dict = {}
for n in df['Age']:
    if n in cnt_dict:
        cnt_dict[n] += 1
    else:
        cnt_dict[n] = 1
max_cnt = max(cnt_dict.values())

mode = [key for key,value in cnt_dict.items() if value == max_cnt]
print(mode)

[24.0]

In [18]:
df.Age.mode()

0    24.0
Name: Age, dtype: float64

In [37]:
sort_age=sorted(df['Age'])
#print(sort_age)
if total_age % 2 == 0:
    median = (sort_age[total_age//2-1]+sort_age[total_age//2]) / 2
else:
    median = sort_age[total_age//2]
print(median)

26.0

In [19]:
df.Age.median()

26.0

In [33]:
var = sum(pow(x-mean_age,2) for x in df['Age'] ) / total_age
print(var)

std = math.sqrt(var)
print(std)

19.31066476832962
4.394390147486864

In [20]:
df.Age.std()

4.404016424405833

In [21]:
df.Age.min()

19.0

In [22]:
df.Age.max()

40.0

<h5>Grouping by column 'Age' and providing statistics for column 'Income'</h5>

In [23]:
bins = [20,26,31,36,41,45]
labels = ['20-25','26-30','31-35','36-40','41-45']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [24]:
df['AgeGroup'].value_counts()

AgeGroup
20-25    197
26-30    167
31-35     68
36-40     23
41-45      0
Name: count, dtype: int64

In [52]:
df.groupby('AgeGroup')['Salary'].describe()

C:\Users\KARTIKI\AppData\Local\Temp\ipykernel_3372\2285824644.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('AgeGroup')['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
AgeGroup,,,,,,,,
20-25,192.0,2.994943e+06,3.586630e+06,30888.0,947276.0,1592160.0,3303638.25,16407501.0
26-30,163.0,6.426259e+06,5.667281e+06,55722.0,1367760.0,4775000.0,10025000.00,22359364.0
31-35,67.0,6.662026e+06,6.281446e+06,200600.0,2092835.5,4500000.0,9697402.50,22970500.0
36-40,22.0,3.959600e+06,5.273399e+06,222888.0,947276.0,2834470.0,4772004.75,25000000.0
41-45,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h5>Converting to list</h5>

In [53]:
list_of_salaries = list(df.groupby('AgeGroup')['Salary'])

C:\Users\KARTIKI\AppData\Local\Temp\ipykernel_3372\2417744235.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  list_of_salaries = list(df.groupby('AgeGroup')['Salary'])

In [54]:
list_of_salaries

[('20-25',
  0       7730337.0
  1       6796117.0
  3       1148640.0
  6       1170960.0
  7       2165160.0
            ...
  446    12000000.0
  447     1175880.0
  449     1348440.0
  452     2239800.0
  454      900000.0
  Name: Salary, Length: 197, dtype: float64),
 ('26-30',
  2             NaN
  4       5000000.0
  5      12000000.0
  11      6912869.0
  12      3425510.0
            ...
  450     2050000.0
  451      981348.0
  453     2433333.0
  455     2900000.0
  456      947276.0
  Name: Salary, Length: 167, dtype: float64),
 ('31-35',
  19      6300000.0
  31      1635476.0
  33     22875000.0
  34      7402812.0
  43       947276.0
            ...
  375    13000000.0
  394     4345000.0
  413     3750000.0
  415     3135000.0
  434     5016000.0
  Name: Salary, Length: 68, dtype: float64),
 ('36-40',
  46            NaN
  72      2900000.0
  93      5675000.0
  101     3376000.0
  102      947726.0
  109    25000000.0
  119      947276.0
  139     1449187.0
  183     2170465.0
  236     8333334.0
  256      947276.0
  259     5000000.0
  260     3542500.0
  261     4088019.0
  296      947276.0
  298     5250000.0
  299     2814000.0
  304      250750.0
  343     2854940.0
  392      947276.0
  400     8500000.0
  406      947276.0
  420      222888.0
  Name: Salary, dtype: float64),
 ('41-45', Series([], Name: Salary, dtype: float64))]

__Part 2__

Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

In [55]:
df2 = pd.read_csv('Iris.csv')

In [56]:
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [57]:
df2.Species.value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [58]:
def statistics_fun(df3):
    print("\nIris-setosa:")
    print(df3[df3.Species=='Iris-setosa'].describe().transpose())
    print("\nIris-versicolor")
    print(df3[df3.Species=='Iris-versicolor'].describe().transpose())
    print("\nIris-virginica")
    print(df3[df3.Species=='Iris-virginica'].describe().transpose())

statistics_fun(df2)

Iris-setosa:
               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

Iris-versicolor
               count    mean        std   min     25%    50%    75%    max
Id              50.0  75.500  14.577380  51.0  63.250  75.50  87.75  100.0
SepalLengthCm   50.0   5.936   0.516171   4.9   5.600   5.90   6.30    7.0
SepalWidthCm    50.0   2.770   0.313798   2.0   2.525   2.80   3.00    3.4
PetalLengthCm   50.0   4.260   0.469911   3.0   4.000   4.35   4.60    5.1
PetalWidthCm    50.0   1.326   0.197753   1.0   1.200   1.30   1.50    1.8

Iris-virginica
               count     mean        std    min      25%     50%      75%  \
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5